.Main {
  padding: 20px;
}

.Main h1 {
  margin-bottom: 10px;
}

.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 20px 0;
}

.LectureSection {
  background-color: #12171b;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 10px 20px;
}

.LectureSection h2 {
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 880px) {
  .Container {
    flex-direction: row;
  }

  .Container section {
    flex-basis: 90%;
  }

  .Container .BooksSection {
    flex-shrink: 1;
  }

  .Container .LectureSection {
    flex-shrink: 2;
  }
}
