.FilterContainer {
  padding: 20px 0;
  display: flex;
  gap: 50px;
}

.FilterContainer h3 {
  margin-bottom: 8px;
}

.FilterGenre select {
  padding: 5px;
  background: var(--bg-color);
  cursor: pointer;
}
