.LectureList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 20px;
}

.LectureList img {
  width: 180px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
}
